<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <!--<link type="text/css" rel="stylesheet" href="./webapp/resources/css/styles.css" th:href="@{/css/styles.css}">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>


<script type="text/javascript">
    function show(clients) {
        $.ajax({
            data: clients,
            success: function (data) {
                $("#clientsList").html(data);
            }
        });
    }
    $(document).ready(function () {
        show(this.clients);
    });
</script>


<nav class="header header-light bg-light" style="background-color:#EFEFF4">
    <a class="header-brand" href="./index">Строительная компания</a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <a href="./client">Клиенты</a>
                <a href="./contract">Договоры</a>
                <a href="./jobType">Типы работ</a>
                <a href="./order">Заказы</a>
                <a href="./worker">Сотрудники</a>
            </div>
        </div>
    </div>
</nav>
<div class="main row-fluid">
    <br>
    <form method="post">
        <div class="form-group">
            <input type="text" name="name" placeholder="Напишите имя">
            <input type="text" placeholder="Напишите телефон" name="phone">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" class="btn btn-primary" onClick="show(this.clients)">Отправить</button>
        </div>
    </form>
</div>

<div id="clientsList">
    <p th:text="${clients}"/>
</div>

</body>
</html>